<div class="container">
  <div class="row">
    <h1>Nossos empregados</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let e of employeeService.employees; let i = index"
          [id]="'tr' + i"
        >
          <td [innerHtml]="e.name"></td>
          <td
            [innerHtml]="e.salary"
            [ngClass]="{
              'salary-expensive': e.salary > 2000,
              'salary-cheap': e.salary < 2000
            }"
          ></td>
          <td [innerHtml]="e.bonus"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
