<div class="container">
  <p [hidden]="!showMessageSuccess">
    O empregado{{ employee?.name }} foi cadastrado com sucesso!
  </p>
  <div class="row">
    <h1>Nossos empregados</h1>
    <p salaryColor="valor"></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan="3">
            <button class="btn btn-primary" (click)="openNewModal()">Novo Empregado</button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let e of employeeService.employees; let i = index"
          [id]="'tr' + i"
        >
          <td [innerHtml]="e.name"></td>
          <td [innerHtml]="e.salary" salaryColor="{{ e.salary }}"></td>
          <!--<td
            [innerHtml]="e.salary"
            [ngClass]="{
              'salary-expensive': e.salary > 2000,
              'salary-cheap': e.salary < 2000
            }"
          ></td>-->
          <td [innerHtml]="e.bonus"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<employee-new-modal (onSubmit)="onNewEmployee($event)"></employee-new-modal>
