<form (submit)="addEmployee($event)">
  <modal>
        <h5 class="modal-title" modal-title>Novo empregado</h5>
        <div class="modal-body" modal-body>
          <div class="form-group">
              <label>Nome:</label>
              <input class="form-control" type="text" name="nome" [(ngModel)]="employee.name"><br>
          </div>
          <div class="form-group">
              <label>Salário:</label>
              <input class="form-control" type="text" name="salary" [(ngModel)]="employee.salary"><br>
          </div>

          <div class="form-group" [hidden]="employee.salary >= 1000">
              <label>Bonus:</label>
              <input class="form-control" type="text" name="bonus" [(ngModel)]="employee.bonus"><br>
          </div>
        </div>
        <div class="modal-footer" modal-footer>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
  </modal>
</form>
